ConsoleApp1/Connected Services/ServiceReference1/AttendanceService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBHR.Sal.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBHR.Sal.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserIdentity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserIdentity" nillable="true" type="tns:UserIdentity" />
</xs:schema>