ConsoleApp1/Connected Services/SalaryService/SalaryService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SalaryService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_ISalaryService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JBHRService" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/JBHR.Sal.Service" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/JBHRService.Salary" />
      <xsd:import schemaLocation="http://localhost:34941/SalaryService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/JBModule.Data.Linq" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISalaryService_SalaryCalculate_InputMessage">
    <wsdl:part name="parameters" element="tns:SalaryCalculate" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_SalaryCalculate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SalaryCalculateResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddSalaryChange_InputMessage">
    <wsdl:part name="parameters" element="tns:AddSalaryChange" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddSalaryChange_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddSalaryChangeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_CheckSalaryChangeAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckSalaryChangeAvailable" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_CheckSalaryChangeAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckSalaryChangeAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdCode" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddRdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRdCode" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddRdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_EditRdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRdCode" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_EditRdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DelRdCode_InputMessage">
    <wsdl:part name="parameters" element="tns:DelRdCode" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DelRdCode_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelRdCodeResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdCost_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdCost" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdCostResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddRdCost_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRdCost" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_AddRdCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRdCostResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_EditRdCost_InputMessage">
    <wsdl:part name="parameters" element="tns:EditRdCost" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_EditRdCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditRdCostResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DelRdCost_InputMessage">
    <wsdl:part name="parameters" element="tns:DelRdCost" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_DelRdCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelRdCostResponse" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdNobrType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRdNobrType" />
  </wsdl:message>
  <wsdl:message name="ISalaryService_GetRdNobrType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRdNobrTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISalaryService">
    <wsdl:operation name="SalaryCalculate">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/SalaryCalculate" message="tns:ISalaryService_SalaryCalculate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/SalaryCalculateResponse" message="tns:ISalaryService_SalaryCalculate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddSalaryChange">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/AddSalaryChange" message="tns:ISalaryService_AddSalaryChange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/AddSalaryChangeResponse" message="tns:ISalaryService_AddSalaryChange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckSalaryChangeAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/CheckSalaryChangeAvailable" message="tns:ISalaryService_CheckSalaryChangeAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/CheckSalaryChangeAvailableResponse" message="tns:ISalaryService_CheckSalaryChangeAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/DoWork" message="tns:ISalaryService_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/DoWorkResponse" message="tns:ISalaryService_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRdCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetRdCode" message="tns:ISalaryService_GetRdCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetRdCodeResponse" message="tns:ISalaryService_GetRdCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRdCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/AddRdCode" message="tns:ISalaryService_AddRdCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/AddRdCodeResponse" message="tns:ISalaryService_AddRdCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRdCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/EditRdCode" message="tns:ISalaryService_EditRdCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/EditRdCodeResponse" message="tns:ISalaryService_EditRdCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelRdCode">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/DelRdCode" message="tns:ISalaryService_DelRdCode_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/DelRdCodeResponse" message="tns:ISalaryService_DelRdCode_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRdCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetRdCost" message="tns:ISalaryService_GetRdCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetRdCostResponse" message="tns:ISalaryService_GetRdCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRdCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/AddRdCost" message="tns:ISalaryService_AddRdCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/AddRdCostResponse" message="tns:ISalaryService_AddRdCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditRdCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/EditRdCost" message="tns:ISalaryService_EditRdCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/EditRdCostResponse" message="tns:ISalaryService_EditRdCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelRdCost">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/DelRdCost" message="tns:ISalaryService_DelRdCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/DelRdCostResponse" message="tns:ISalaryService_DelRdCost_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRdNobrType">
      <wsdl:input wsaw:Action="http://tempuri.org/ISalaryService/GetRdNobrType" message="tns:ISalaryService_GetRdNobrType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISalaryService/GetRdNobrTypeResponse" message="tns:ISalaryService_GetRdNobrType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISalaryService" type="tns:ISalaryService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalaryCalculate">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/SalaryCalculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalaryChange">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddSalaryChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSalaryChangeAvailable">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/CheckSalaryChangeAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/EditRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DelRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/EditRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DelRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdNobrType">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdNobrType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_ISalaryService" type="tns:ISalaryService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_ISalaryService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SalaryCalculate">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/SalaryCalculate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddSalaryChange">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddSalaryChange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckSalaryChangeAvailable">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/CheckSalaryChangeAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DoWork">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DoWork" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/EditRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRdCode">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DelRdCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/AddRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/EditRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelRdCost">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/DelRdCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRdNobrType">
      <soap:operation soapAction="http://tempuri.org/ISalaryService/GetRdNobrType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SalaryService">
    <wsdl:port name="BasicHttpBinding_ISalaryService" binding="tns:BasicHttpBinding_ISalaryService">
      <soap:address location="http://localhost:34941/SalaryService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_ISalaryService" binding="tns:BasicHttpsBinding_ISalaryService">
      <soap:address location="https://localhost:44300/SalaryService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>