ConsoleApp1/Connected Services/JbhrServiceCNReference46/AttendanceService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/JBHRService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/JBHRService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransAttCardEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADMIN" type="xs:boolean" />
      <xs:element minOccurs="0" name="AttEndDay" type="xs:int" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckDeleteAttend" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckError" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckFixOt" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckTime" type="xs:boolean" />
      <xs:element minOccurs="0" name="CreateAttend" type="xs:boolean" />
      <xs:element minOccurs="0" name="DEPT_B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DEPT_E" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateBegin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateEnd" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FixYymm" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOBR_B" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOBR_E" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalEndDay" type="xs:int" />
      <xs:element minOccurs="0" name="SalaryConfig" nillable="true" type="tns:SalaryConfig" />
      <xs:element minOccurs="0" name="USER_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USER_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isContinue" type="xs:boolean" />
      <xs:element minOccurs="0" name="isFixYymm" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransAttCardEntry" nillable="true" type="tns:TransAttCardEntry" />
  <xs:complexType name="SalaryConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="ATTAWARDSALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttEndDay" type="xs:int" />
      <xs:element minOccurs="0" name="Decimals" type="xs:int" />
      <xs:element minOccurs="0" name="EATSALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMPSALCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SalEndDay" type="xs:int" />
      <xs:element minOccurs="0" name="WELPAY" type="xs:decimal" />
      <xs:element minOccurs="0" name="WELSALCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SalaryConfig" nillable="true" type="tns:SalaryConfig" />
  <xs:complexType name="TransCardConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetDateValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtBonusException" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransCardConfig" nillable="true" type="tns:TransCardConfig" />
  <xs:complexType name="TransAttCardResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFinish" type="xs:boolean" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransAttCardResult" nillable="true" type="tns:TransAttCardResult" />
</xs:schema>